@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --grey: #f0eef1;
    --dark-grey:#b4b2b6;
    --white: #fffbfb;
    --green: #9fff9c;
    --darker-green: #79ac77;
    --red: #ff9c9c;
    --shadow: 0px 2px 5px 0px rgba(146, 146, 146, 0.75);
    --modal-width: 300px;
    --modal-height: 350px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background-color: var(--white);
    box-shadow: var(--shadow);
    z-index: 1;
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

header button {
    padding: 0.8rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    background-color: var(--grey);
}

button:hover{
    background-color: var(--dark-grey);
    cursor: pointer;
}

main {
    flex: 1;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.add-book{
    border: none;
    padding: 0.8rem;
    background-color: #dddbdf;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    font-weight: 700;

}

.cards{
    flex: 1;
    width: 100%;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-content: flex-start;
    gap: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--white);
    height: 250px;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

.card p{
    font-weight: bold;
    font-size: 1.1rem;
}

.card button{
    width: 100%;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}

.red-btn{
    background-color: var(--red);
}

.green-btn{
    background-color: var(--green);
}

.remove-btn{
    background-color: var(--grey);
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--grey);
}

.modal{
    background-color: var(--grey);
    width: var(--modal-width);
    height: var(--modal-height);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.modal-form{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
    
    align-items: center;
}

.modal-form input{
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    width: 100%;
}

.checkbox {
    display: flex;
    width: 100%;
    align-items: center;
}

.checkbox label{
    width: 100%;
}

.modal-btn {
    background-color: var(--green);
    font-weight: bold;
    font-size: 1.2rem;
}

.modal-btn:hover{
    cursor: pointer;
    background-color: var(--darker-green);
}


.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.hidden {
    display: none;
}